body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  /* Applying Inter Extra Light to the entire document */
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.app-title {
  color: #00dfc4;
}



.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 0 20px;
  background: linear-gradient(#141e30, #243b55);
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
  width: 100%;
  max-width: 400px;
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
  border-radius: 10px;
  background: rgba(18, 17, 17, 0.5);
  padding: 50px;
}

.input-box {
  position: relative;
  width: 100%;
  max-width: 250px;
  padding: 25px 0;
}

.input-field {
  width: 100%;
  padding: 10px;
  border: 1px solid #00dfc4;
  outline: none;
  border-radius: 10px;
  font-size: small;
  color: #00dfc4;
  background: transparent;

}

.place-holder {
  position: absolute;
  left: 0;
  padding: 10px;
  pointer-events: none;
  font-size: small;
  color: #00dfc4;
  transition: 0.5s
}

.input-field:focus+.place-holder,
.input-field:not(:placeholder-shown)+.place-holder {
  color: #00dfc4;
  transform: translateY(-40px);
  border-left: 1px solid #00dfc4;
}

.form-button {
  border: none;
  background: #00a695;
  font-size: small;
  color: #e6e8e8;
  border-radius: 5px;
}

.form-button:hover {
  background-color: #00dfc4;
}

.send-token-button {
  padding: 9px 12px;
}

.return-button {
  padding: 15px 40px;
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 30px;

}

.values-submitted {
  display: flex;
  flex-direction: column;
  height: 80vh;
  width: 50%;
  max-width: 450px;
  border-radius: 10px;
  color: #e6e8e8;
  padding: 20px;
  outline: 3px solid #00a695;
  position: relative;
}

.error-eth {
  color: red;
  font-size: small;
  padding: 10px 10px;
}

.values-container {
  outline: 1px solid #00a695;
  border-radius: 10px;
}

.values-box {
  display: block;
  width: 100%;
  max-width: 450px;
  height: 100px;
  padding: 10px;
}

.addr {
  display: inline-block;
  overflow: hidden;
  border-bottom: 1px solid #00a695;
}

.title-style {
  width: 100%;
  color: #00dfc4;
  overflow-wrap: normal;
  padding: 10px;
}

.p-style {
  width: 100%;
  overflow-wrap: break-word;
  color: #00dfc4;
}

.p-span-style {
  width: 100%;
  overflow-wrap: break-word;
}