.main-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: black;

}

.form-container {
  align-items: flex-start;
  justify-content: center;
  width: 600px;
  height: 600px;
  padding: 1rem;
  box-sizing: border-box;
  border-radius: 30px;
  border: 1px solid #ccc;
  display:flex;
  flex-direction: column;
  gap: 5px;
  
}

.input-field {
  margin-bottom: 20px;
}

.send-token-button{
  border: none;
  padding: 9px 12px;
  background: #FF2849;
  color: white;
  border-radius: 30px;
}

.send-token-button:hover{
  background-color: #E52441;
}